@font-face {
    font-family: 'Mortend';
    src: URL('../assets/fonts/Mortend/Regular.ttf') format('truetype');
}

:root{
    --primary: #F58A28;
    --secondary: #D5606E;
    --gray: #80879A;
    --slightly-slate: #5D7DB9;

    --dark: #111833;
    --light: #EDE6DB;
    
    --orange: #F5C128;
    --pink: #FA4D6C;
    --turquoise: #11D5E3;
    --light-tint: #EDF5DC;

    --font-sans-serif: 'Monserrat', sans-serif;
    --font-display: 'Mortend', sans-serif;
}


body{
    font-family: var(--font-sans-serif);
    background: var(--dark);
    color: #FFFFFF;
}

.txt-hero-display{
    font-family: var(--font-display);
    font-size: 42px;
    opacity: 0.95;
    font-weight: 700;
}

.txt-title-display{
    font-family: var(--font-display);
    font-size: 28px;
    opacity: 0.90;
    font-weight: 700;
}

.txt-caption-display{
    font-family: var(--font-display);
    font-size: 20px;
    opacity: 0.80;
    font-weight: 700;
}